# transient
transient-*.el
transient-*.elc

# elpa
windows/.emacs.d/elpa/*
windows/.emacs.d/recentf
windows/.saves/*

# trash
windows/.emacs.d/ido.last
windows/.emacs.d/transient/
windows/.emacs.d/projectile-bookmarks.eld
windows/.config/
